{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "17|18", 'NEW_DICT_TYPE'}
]}.

{deps, [
    {rebar_vsn_plugin, ".*", {git, "https://github.com/erlware/rebar_vsn_plugin.git", master}},
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", master}},
    {locks, ".*", {git, "https://github.com/altenwald/locks.git", master}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.

{pre_hooks, [
    {eunit, "test/bootstrap"}
]}.
