{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "R1[56]", 'OLD_DICT_TYPE'}
]}.

{deps, [
    {gen_leader, "0.1.0"},
    {locks, "0.1.1"}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [rebar3_hex]}.

{profiles, [
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/altenwald/forseti"}}
        ]}
    ]}
]}.

{pre_hooks, [
    {eunit, "epmd -daemon"}
]}.
